*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  background-color: #ffffff;
  color: #0067ee;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.7rem;
  height: 1800px;
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
h1 {
  text-align: center;
  font-weight: 300;
  margin-top: 1rem;
  font-size: 5rem;
}
