h3 {
  text-align: center;
  font-weight: 600;
  margin: 0r auto;
  font-size: 18px;
  padding: 20px;
}

.account-body {
  background-color: #ffffff;
}
.note-card {
  margin: 0 auto;
  position: relative;
  font-family: "Eina 03";
  font-size: 14px;
  width: 30%;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
}
.list-items {
  background-color: #ffffff;
  color: black;
  padding: 10px;
}
