h3 {
  text-align: center;
  font-weight: 300;
  margin: 0r auto;
  font-size: 18px;
}

.login-form {
  background-color: #ffffff;
  color: black;
  width: 40%;
  margin: 120px auto;
  padding: 20px;
  border: 1px solid #949494;
  border-radius: 3px;
}
label {
  padding: 10px;
}

input {
  padding: 2px;
}

.email-rw {
  padding: 2px;
}

.pass-rw {
  padding: 10px;
}
button {
  margin: 0 auto;
}
